## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Plast,RU,54.3691,60.8136,52.47,89,13,8.63,few clouds
1,1,Jamestown,US,42.0970,-79.2353,85.59,56,0,11.50,clear sky
2,2,Upernavik,GL,72.7868,-56.1549,48.69,68,89,7.02,overcast clouds
3,3,Saint-Pierre,RE,-21.3393,55.4781,69.48,63,20,23.02,few clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,31.66,74,75,14.97,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Saint-Pierre,RE,-21.3393,55.4781,69.48,63,20,23.02,few clouds
8,8,Gronau,DE,52.2000,7.0333,72.10,83,71,4.34,moderate rain
9,9,Camacha,PT,33.0833,-16.3333,67.42,78,75,10.36,broken clouds
10,10,Caxito,AO,-8.5785,13.6643,65.71,93,8,0.34,clear sky
12,12,Carballo,ES,43.2130,-8.6910,67.01,89,43,7.90,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                338
City                   338
Country                338
Lat                    338
Lng                    338
Max Temp               338
Humidity               338
Cloudiness             338
Wind Speed             338
Current Description    338
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df[preferred_cities_df!=""]

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Saint-Pierre,RE,69.48,few clouds,-21.3393,55.4781,
8,Gronau,DE,72.10,moderate rain,52.2000,7.0333,
9,Camacha,PT,67.42,broken clouds,33.0833,-16.3333,
10,Caxito,AO,65.71,clear sky,-8.5785,13.6643,
12,Carballo,ES,67.01,scattered clouds,43.2130,-8.6910,
15,Kilindoni,TZ,75.16,light rain,-7.9139,39.6668,
19,Touros,BR,74.62,broken clouds,-5.1989,-35.4608,
21,Chapais,CA,73.18,overcast clouds,49.7834,-74.8492,
28,Bonthe,SL,75.65,light rain,7.5264,-12.5050,
30,Tabuk,PH,78.85,broken clouds,17.4189,121.4443,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""]

clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Saint-Pierre,RE,69.48,few clouds,-21.3393,55.4781,Alize Plage
8,Gronau,DE,72.10,moderate rain,52.2000,7.0333,Hotel-Restaurant Bergesbuer
9,Camacha,PT,67.42,broken clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
12,Carballo,ES,67.01,scattered clouds,43.2130,-8.6910,Pazo do Souto
15,Kilindoni,TZ,75.16,light rain,-7.9139,39.6668,Bustani B&B
...,...,...,...,...,...,...,...
703,Tallahassee,US,78.67,broken clouds,30.4383,-84.2807,Four Points by Sheraton Tallahassee Downtown
705,Uddevalla,SE,75.99,broken clouds,58.3478,11.9424,Best Western Hotel Carlia
706,Magadi,IN,69.93,broken clouds,12.9667,77.2333,Gobi centre
707,Matara,LK,77.97,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
708,Gouyave,GD,79.57,few clouds,12.1646,-61.7296,Rumboat Retreat

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))